.image-wrapper-main {
  display: flex;
  flex-wrap: wrap;
}

.div-wrapper {
  margin: 1em;
  width: 93%;
}

.nav-ul-wrapper {
  list-style-type: none;
  display: flex;
}

.nav-li-wrapper {
  padding: 0px 10px;
}
.navbar-wrapper {
  padding: 1em 0em 2em 2em;
}

.nav-wrapper {
  color: blue;
  text-decoration: none;
  padding-left: 1em;
}

.is-active {
  color: red;
}
