.clothes-wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-width: 500px;
}

/* .image-wrapper {
  flex-grow: 1;
  width: 33%;
  height: 100px;
} */

.flex-wrap {
  display: flex;
}

.product-wrapper {
  display: flex;
}

.product-detail-wrapper {
  margin-left: 4em;
}

.product-img {
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
}

.product-suggestion-wrapper {
  display: flex;
}

.margin-auto {
  margin: auto;
}
