.image-wrapper-show {
  display: flex;
  padding: 0.2em;
  padding-left: 14px;
  margin: auto;
  width: 32%;
  padding-bottom: 20px;
}

.title-wrapper {
  text-decoration: none !important;
  cursor: pointer;
  color: black;
  width: 80%;
  margin: auto;
}

.image-no-prod{
  margin:auto
}

.img-wrapper {
  display: flex;
  margin: auto;
}

.button-wrapper {
  margin: 1em;
  background-color: aqua;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button-div-wrapper {
  display: flex;
  margin: auto;
}
